.root-card {
  background-color: #21222d;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.table-divider {
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
}

.card-title {
  text-align: left;
  color: #7a7a7a;
}
